html {
  font-family: Verdana, sans-serif;
  color: white;
  text-align: center;
  background-color: black;

}

h1 {
  font-size: 50px;
  font-weight: normal;
  margin: 50px auto;
}

h2 {
  font-size: 42px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 40px;
}

h3 {
  font-size: 21px;
  color: gray;
}

p {
  color: aquamarine;
  font-size: 16px;
}

footer p {
  float: right;
  color: gray;
}

video {
  margin-top: 30px;
  margin-bottom: 10px;
}

img {
  margin-top: 20px;
}